.recipes {
  max-width: 800px;
  margin: 80px auto 40px; /* Added bottom margin to create space between cards and navbar */
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.recipes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}

.recipes li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.recipes li::after {
  content: "|";
  margin-left: 5px;
}

.recipes li:last-child::after {
  content: "";
}

.method {
  text-align: left;
  line-height: 1.6;
}
